@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image:url(/static/images/login1.jpg);
    background-size: cover;
  
    object-fit: cover;

    
}
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
} */
.box{
    backdrop-filter: blur(15px);
    background: rgb(255, 255, 255,0.2);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    color: rgb(0, 0, 0);

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}
.btn{
    height: 35px;
    background: rgba(0, 165, 187, 0.808);
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.logbtn{
    height: 35px;
    background: rgba(0, 165, 187, 0.808);
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    
}
.links a{
    color: rgb(0, 0, 0);
    font-style: italic;
}

/********* Home *****************/

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
    
}
.logo a{
    text-decoration: none;
    color: #000;
}
.right-links a{
    padding: 0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}

.flip-card {
    background-color: transparent;
  }
  
  .flip-card-inner {
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
.flip-card-inner {
    transform: rotateY(180deg);
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
   
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .card{
      background-color: transparent !important;
    border: none !important;
  }
  .flip-card-back {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    color: black;
    background-color: transparent;
    transform: rotateY(180deg);
  }


  button {
border: solid 2px;
padding: .5rem;
border-radius: 0.25rem;
font-weight: 700;
}

.container {
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;

}

.card {
margin-top: 1rem;
height: 300px;
width: 250px;
position: relative;
border-radius: 0.25rem;
margin-right: 200px;
}

.cardFront,
.cardBack {
box-sizing: border-box;
border-radius: 0.25rem;
height: 100%;
padding-left: 0.5rem;
padding-right: 0.5rem;
width: 100%;
transition: transform 0.5s ease;
position: absolute;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;

}
.cardBack {
transform: perspective(1000px) rotateY(180deg);
}

.cardBack.flipped {
transform: perspective(1000px) rotateY(0deg);
}

.cardFront {
transform: perspective(1000px) rotateY(0deg);
}

.cardFront.flipped {
transform: perspective(1000px) rotateY(-180deg);
}


